*,
*::before,
*::after {
  box-sizing: border-box;
}



main{
    background-color: #000000;
  background-image: radial-gradient(circle at 20% 20%, rgba(86,126,187,0.2), transparent 50%),
                    radial-gradient(circle at 80% 80%, rgba(110, 142, 231, 0.15), transparent 40%);

}

