.about {
  position: relative;
  min-height: 100vh;
  height: auto;
  max-width: 90%;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 6rem;

  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.9s ease, transform 0.9s ease;

}

.aboutVisible {
  opacity: 1;
  transform: translateY(0);
}

.textReveal {
  opacity: 0;
  transform: translateY(25px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.textVisible {
  opacity: 1;
  transform: translateY(0);
}

/* delays */
.delay1 {
  transition-delay: 0.2s;
}
.delay2 {
  transition-delay: 0.6s;
}
.delay3 {
  transition-delay: 1s;
}
.delay4 {
  transition-delay: 1.4s;
}

.about h2 {
  color: #ffffff;
  font-size: 5rem;
  font-weight: 300;
  margin-bottom: 10rem;
  border-bottom: 1px solid #567ebb;




}

.about p {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  line-height: 1.6;
  color: #ffffff;



}

.cornerImage {
    position: absolute;
    bottom: 1;   
    right: 0;    
    width: 35vw; 
    height: 80vh;
    opacity: .8; 
    z-index: 1;   
    pointer-events: none; 
    
  
}




.info {

  width: 500px;
  min-height: calc(100vh - 12rem);

  display: flex;
  flex-direction: column;
  align-items: center;
 
  

 


}

.about .city {
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 12px; 
  


  margin-top: auto; 
  margin-bottom: 0;
  
  font-size: 1.2rem;
  opacity: 0.8;
}


.about .city::before,
.about .city::after {
  content: "";
  height: 3px;
  width: 30px; 
  background-color: #567ebb;
  
  animation: expandLine 1.5s cubic-bezier(0.4, 0, 0.2, 1) infinite alternate;
  
 
  
}


.about .city::before {
  transform-origin: right;
}

.about .city::after {
  transform-origin: left;
}


@keyframes expandLine {
  0% {
    transform: scaleX(0);
    opacity: 0.3;
  }
  100% {
    transform: scaleX(1);
    opacity: 1;
  }
}



@media (max-width: 768px) {


  .about {
  position: relative;
  min-height: 94vh;
  padding: 1.5rem;
  
}


  .about h2{
    font-size: 3rem;
     margin-bottom: 2rem;
  }

  .about p {
    font-size: 1.2rem;
  }

  .info {

  width: 100%;
  

  display: flex;
  align-items: start;
  justify-content: center;
}

.about .city{
  
  
  font-size: 0.9rem;
}

   .cornerImage {
        display: none;
    }



}