/*paleta
#2b4c7e
#567ebb
#606d80
#dce0e6
#1f1f20
*/




.hero {

    position: relative;
    min-height: 100vh;

    padding-left: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1rem;
    overflow: hidden;
    perspective: 900px;

}


.glow {

    inset: 0;
    pointer-events: none;
    z-index: 1;

    background: radial-gradient(400px circle at var(--glow-x, 50%) var(--glow-y, 50%),
            rgba(86, 126, 187, 0.18),
            transparent 60%);

    transition: background-position 0.08s linear;

    background: radial-gradient(400px circle at var(--glow-x, 50%) var(--glow-y, 50%),
            rgba(86, 126, 187, 0.25),
            transparent 65%);

    animation: pulse 4s ease-in-out infinite;

}

@keyframes pulse {

    0%,
    100% {
        opacity: 0.25;
    }

    50% {
        opacity: 0.4;
    }
}


.reveal {
    opacity: 0;
    transform: translateY(40px) scale(0.9) rotateX(10deg);
    transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.reveal.show {
    opacity: 1;
    transform: translateY(0) scale(1) rotateX(0deg);
}

.delay1 {
    transition-delay: 0.1s;
}

.delay2 {
    transition-delay: 0.3s;
}

.delay3 {
    transition-delay: 0.5s;
}

.delay4 {
    transition-delay: 0.7s;
}


.content {
    position: relative;
    z-index: 2;
    min-height: 100%;
    height: auto;
    padding: 4rem 2rem;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    color: #fff;
}

.name {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: #dce0e6;
    font-size: 4rem;
    display: flex;
    flex-direction: column;
    line-height: 1;
}

.name span {
    font-size: 8rem;
    font-weight: 700;
    text-transform: uppercase;
}

.hero h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 0.3rem;
    font-weight: 100;
    font-size: 2rem;
    color: #567ebb;
}

.hero p {

    color: #dce0e6;
    font-size: 1.2rem;

}

.actions {
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
}

.actions a {
    padding: 0.75rem 1.5rem;
    border: 1px solid #567ebb62;
    border-radius: 40px;
    background: transparent;
    color: #fff;
    text-decoration: none;
    transition: all 0.5s ease;
}

.actions a:hover {
    background: #567ebb;
    transform: scale(1.1);
    transition: all 0.5s ease;
}




.socials {
    display: flex;
    gap: 2.6rem;
    padding-bottom: 4rem;
}

.socials a {
    font-size: 1.8rem;
    color: #fff;
    transition: transform 0.3s ease, color 0.3 ease;
    animation: float 3s ease-in-out infinite;
}

.socials a:hover {
    color: #567ebb;
    transform: translateY(-4px) scale(1.1);
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}



@media (max-width: 768px) {



    .hero {


        padding-left: 0.5rem;
        align-items: center;
        gap: 1rem;
        overflow: hidden;
        border-radius: 0;

    }

    .name {
        font-size: 3rem;
    }

    .name span {
        font-size: 5rem;
    }

    .glow {
        display: none;
    }


}