.projects {
  padding: 0rem 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  overflow: hidden; 


 
}

.projects h2 {
  display: flex;
  justify-content: center;
  width: 20%;
  font-size: 3rem;
  font-weight: bold;
  color: #dce0e6;
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(90deg, transparent, #d4af37, transparent) 1;
}

.swiperP {
  width: 100%;
  padding: 1rem 0 3rem;
  overflow: visible ;
}

.swiperP :global(.swiper-slide) {
  display: flex;
  justify-content: center;
  transition: transform 0.35s ease, filter 0.35s ease;
}


.swiperP :global(.swiper-button-prev),
.swiperP :global(.swiper-button-next) {
  color: #dce0e6;
  width: 48px;
  height: 48px;
}

/* mover para os cantos */
.swiperP :global(.swiper-button-prev) {
  left: -10px;
}

.swiperP :global(.swiper-button-next) {
  right: -10px;
}


:global(.swiper .swiper-pagination-bullet) {
  width: 12px;
  height: 4px;
  border-radius: 2px;
  background-color: rgba(255,255,255,0.3);
  margin: 0 4px;
  transition: all 0.3s ease;
}

:global(.swiper .swiper-pagination-bullet-active) {
  width: 24px;
  background-color: #ffffff;
}



@media (min-width: 768px) and (max-width: 1024px) {
  .projects {
    padding: 0rem 4rem; 
    gap: 2.5rem; 
  }

  .projects h2 {
    width: 25%; 
    font-size: 2.5rem; 
  }

  .swiperP {
    max-width: 90%; 
    padding: 1rem 0 2.5rem; 
  }

  .swiperP :global(.swiper-button-prev),
  .swiperP :global(.swiper-button-next) {
    width: 40px; 
    height: 40px;
  }

  .swiperP :global(.swiper-button-prev) {
    left: -5px; 
  }

  .swiperP :global(.swiper-button-next) {
    right: -5px;
  }
}






@media (max-width: 768px) {

  .projects {
   
    padding: 3rem 0;
  }

  .projects h2 {
    width: 50%;
    font-size: 3rem;
  }
  

  .swiperP {
    max-width: 80%;
    height: 90vh;
  }

  .swiperP :global(.swiper-slide) {
    justify-content: center;
  }
    .swiperP :global(.swiper-button-prev),
  .swiperP :global(.swiper-button-next) {
    display: none;
  }
  }


