.skills{
    min-height: 100vh;
    max-width: 90%;
    margin: 0 auto;
    padding: 6rem 0;
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.skills h2 {
    font-size: 4rem;
    font-weight: 300;
    margin-bottom: 4rem;
    border-bottom: 1px solid #567ebb;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minimax (160px, 1fr));
    gap: 2rem;
}