*,
*::before,
*::after {
  box-sizing: border-box;
}



main {
  position: relative;
  min-height: 100vh;
  background:
    radial-gradient(
      800px circle at 50% 0%,
      rgba(86, 126, 187, 0.08),
      transparent 60%
    ),
    linear-gradient(
      180deg,
      #000000 0%,
      #000000 40%,
      #03072c 100%
    );
  overflow: hidden;
}
