*,
*::before,
*::after {
  box-sizing: border-box;
}



main {
  background: linear-gradient(45deg, #000000, #06060a, #070a14, #030c18, #000000);
  background-size: 400% 400%;
  animation: gradientShift 5s ease infinite;
  /* Outros estilos que você já tinha, como height, width, etc. */
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
  transition: background-color 0.5s ease-in-out; /* Transição suave de 0.5s */
}

